
:root {
    --color-body-bg: #fff;
    --color-footer-bg: #f3f3f3;
    --color-footer-text: #57585A;
    --color-body-text: #57585a;

}

body {
    color: var(--color-body-text);
    background-color: var(--color-body-bg);
    font-family: "Helvetica W01 Light",Arial,sans-serif;
    font-size: 1.2rem;
}

h1 {
    font-size: 2.25rem;
    font-weight: 700;
    line-height: 1.1;
}

a {
    color: #8B3F63;
}

header {
    background-color: #8B3F63;
}

.logo-img {
    max-width: 100vw;
}





.max-width {
    max-width: 1200px;
}
#footer {
    background-color: var(--color-footer-bg);
    color: var(--color-footer-text);
    font-size: 1rem;
}

#footer ul,
#footer li,
#footer a {
    list-style: none;
    color: var(--color-footer-text);
    
}
